@import "abstracts/mixins";
@import "abstracts/varibles";


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



html {
  font-size: 62.5%;
}

body {
  padding: 30px;
  box-sizing: border-box;
}

.title {
  height: 90vh;

  background-image: linear-gradient(
      to left bottom,
      hsla(230, 60%, 54%, 0.644),
      hsla(304, 52%, 55%, 0.616),
      hsla(39, 100%, 72%, 0.61)
    ),
    url(../images/title-image3.jpg);

  background-size: cover;
  background-position: top;
  /* color:white; */
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-img {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 50px;
  border-radius: 30px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary{
  text-transform: uppercase;
  backface-visibility: hidden;
}

.heading-main {
  display: block;
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation: moveInLeft;
  animation-duration: 3s;
  /* animation-delay: 2s; */
}

.heading-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  letter-spacing: 17.4px;

  animation: moveInRight;
  animation-duration: 3s;
  animation-timing-function: ease-in;

  /* animation-delay: 2s; */
  /* animation-iteration-count: 2; */
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.first-section {
  background-color: rgba(223, 221, 215, 0.932);
  padding: 25rem;
  margin-top: -20vh;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
  background-image: linear-gradient(to right, #4158d0, #c850c0, #ffcc70);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] {
    float : left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
}

.heading-secondary{
  margin-bottom: 8rem;
  text-align: center;
}

.heading-tertiary{
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.paragraph{
  font-size: 1.6rem;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}

.btn-text{
  color: #c850c0;
  text-decoration: none;
  font-size: 1.8rem;
  border-bottom: 1px solid #c850c0;
  padding: 3px;
  display: inline-block;

  &:hover{
    color: white;
    background-color: #c850c0;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }


}
