body {
  margin: 0;
}

h1{
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
}

h2 {
  font-weight:900;
  font-size: 48px;
  color: #f9faf8;
}

button{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: #3882F6 ;
}

.first-section {
  color: white;
  background-color: #1f2937;
  padding: 0 15% 5%;
}


.container {
  display: flex;
}

.container > div{
  padding: 20px;
}

.link-three{
  padding-right: 0;
}

.header{
  margin-right: auto;
  font-size: 24px;
  color: #F9FAF8;
}


.link-one.link-tw0.link-three{
  font-size: 18px;
  color: #E5E7EB;
}

.second-container {
  display: flex;
  justify-content: flex-end;
}

.first-box{
    margin-right: auto;
    padding: 0 2% ;
}


 /* Second section   */

 

.second-section-heading{
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  color: #1f2937;
}

.third-container{
  display: flex;
  justify-content:space-between;
  padding: 0 28% 5%;
}

.compund{
  display: flex;
  flex-direction: column;
}

.element{
  width: 130px;
  height: 130px;
  border: 5px solid #3882F6;
  border-radius: 10px;
}


/* Third section */

.third-section{
  background-color: #E5E6EB;
  padding: 5% 20%;
  display: flex;
  flex-direction: column;
}

.author{
  margin-left: auto;
}



/* fourth section */

.fourth-sectiion{
  display: flex;
  
}

.fourth-container{
  color: white;
  margin: 5% 15%;
  padding: 2%;
  background-color: #3882F6;
  display: flex;
  border-radius: 10px;
  align-items: center;
}

.last-button{
  margin-left: auto;
}


.footer{
  background-color:#1f2937;
  text-align: center;
  padding: 2%;
  color: white;
}