*{
    margin: 0;
    padding: 0;
}


body{
    text-align: center;
    padding: 30px;
}

.title{
    height: 90vh;

    background-image: linear-gradient(to left bottom,
    #4159d0be, #c850c0bb, #ffcd70b6) 
    ,url(../images/title-image.jpg);

    background-size: cover;
    background-position: top;
    color:white;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}


.title{
  text-transform: uppercase;
}

.heading-main{
  display: block;
}

.heading-sub{
  display: block;
}