body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  padding-top: 30px
    /*auto 0 auto*/
  ;
  font-family: 'Sacramento', cursive;
  color: black;
}
a:hover{
  color: #EAF6F6;
}

.web-dev {
  position: relative;
  bottom: 70px;
  font-weight:normal;
  color:#07FAC9;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #F0564D;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #4CA168;
}

.top-container {
  background-color: #22577A;
  padding-top: 100px;
  position: relative;
}
.profile{
  padding-top: 50px;
  padding-bottom: 50px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
P{
  line-height: 2;
}
hr {
  background-color: none;
  border-style: dotted none none;
  border-width: 5px;
  width: 3%;
  border-color: black;
}
.skills{
  padding-top: 50px;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}
.web-dev-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.books-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.footer-link{
  display: inline-block;
  margin: 20px;
  text-decoration: none;
}
.contact-me{
  padding-top: 50px;
  padding-bottom: 20px;
  margin: auto;
  width: 50%;
}
.bottom-paragraph{
  color: white;
}



.BUTTON_QYA {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'Azeret Mono', monospace;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   /*-webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;*/
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 20px auto 20px auto;
}

.BUTTON_QYA:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
