body {
  background-color: hsl(217, 54%, 11%);
}

p {
  color: hsl(215, 51%, 70%);
}

h3 {
  color: hsl(0, 0%, 100%);
}

.card-wrap {
  width: 300px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  margin: auto;
}

.card {
  width: 250px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.first-img {
  width: 250px;
}

.time{
  display: flex;
}

.time >*:last-child{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

 /* .first-section{
  display: flex;
} */

/* .second-section{
  display: flex;
  justify-content: right;
}  */




.author {
  color: hsl(0, 0%, 100%);
}

.author-img{
  width: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
